<div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>About Events</h4>
        </div>
        <div class="panel panel-body">
            <p>Our Event Registration system allows users to purchase and view tickets for events.</p>
        </div>
    </div>
</div>
