<div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Clear System Level cache</h4>
        </div>
        <div class="panel panel-body">
            <p>System cache was cleared on {{timeStamp | date}} - nice work.</p>
        </div>
    </div>
</div>
