<br>
<div class="row">
    <form novalidate name="createAccountForm">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Create your Event account</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="email" placeholder="Email - this is your login name" ng-model="eventUser.username" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="text" placeholder="First Name" ng-model="eventUser.firstName" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="text" placeholder="Last Name" ng-model="eventUser.lastName" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="text" placeholder="Address" ng-model="eventUser.address" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="text" placeholder="City" ng-model="eventUser.city" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <select class="form-control" ng-model="eventUser.state">
                                <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="password" minlength="5" maxlength="32" placeholder="Password - minimum 5 characters" ng-model="eventUser.password" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button"  class="btn btn-primary" ng-disabled="createAccountForm.$invalid" ng-click="createUserAccount()">Create Account</button>
                            <button type="button" class="btn btn-primary" ng-click="resetFromView()">Reset Values</button>
                        </div>
                    </div>
                    <br>
                    <a href="/login">Click here to return to the login page</a>
                </div>
            </div>
        </div>
    </form>
</div>