<div>
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Add a new Event</h4>
            </div>
            <div class="panel panel-body">
                <form novalidate name="createEventForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="form-control" ng-model="event.title" placeholder="Title" minlength="3" maxlength="40" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea type="text" class="form-control" ng-model="event.description" placeholder="Description" minlength="3" maxlength="120" required></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6" align="left">
                            <p>Start Date</p>
                        </div>
                        <div class="col-lg-6" align="left">
                            <p>End Date</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.startDate" is-open="firstDatePicker.opened"
                                       datepicker-options="dateOptions" ng-required="true" lose-text="Close" alt-input-formats="altInputFormats" ng-change="determineDateValues()" required>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFirstPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="event.endDate" is-open="secondDatePicker.opened"
                                       datepicker-options="dateOptions" ng-required="true" lose-text="Close" alt-input-formats="altInputFormats" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openSecondPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12" align="left">
                            <p>Number of available tickets</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="number" max="1000000" min="1" ng-paste="$event.preventDefault();" ng-model="event.availableTickets" required/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12" align="left">
                            <p>Max number of tickets per-user</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="number" max="1000000" min="1" ng-paste="$event.preventDefault();" ng-model="event.ticketPurchaseMax" required/>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12" align="left">
                            <p>Price per-ticket</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" max="1000000" min="1" class="form-control" ng-paste="$event.preventDefault();" placeholder="Price" ng-model="event.ticketPrice" required/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4" align="center">
                            <button type="button" class="btn btn-primary" ng-click="submitNewEvent()" ng-disabled="createEventForm.$invalid">Save Event</button>
                            <button type="button" class="btn btn-danger" ng-click="buildNewEventObject()" ng-disabled="hasEvent">Reset Values</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>