<div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <h4>Events</h4>
            </div>
            <div class="panel panel-body">
                <div ng-if="ticketsAndEvents.events.length === 0">
                    <h3>Currently there are no available events</h3>
                    <p>Please check again at a later time</p>
                </div>
                <div ng-repeat="event in ticketsAndEvents.events">
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4 align="left">{{event.title}}</h4>
                                </div>
                                <div class="col-lg-6 col-lg-offset-0" align="right">
                                    <button ng-click="setEventAndEdit(event)" ng-if="userDetails.authorities[0].authority === 'admin'" class="btn btn-default">Edit Event</button>
                                    <button ng-disabled="event.availableTickets === 1 || !determineUserCanPurchase(event)" class="btn btn-default" ng-click="setEventAndNavigate('/purchase', event)">Purchase</button>
                                    <button ng-click="setEventAndNavigate('/info', event)" class="btn btn-default">More Info</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" align="left">
                                    <label class="glyphicon glyphicon-time"></label> {{event.startDate | date}} - {{event.endDate | date}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" align="left" ng-if="!determineUserCanPurchase(event)">
                                    <p><b>Note:</b> you have purchased the maximum number of tickets for this event</p>
                                </div>
                                <div class="col-lg-12" align="left" ng-if="determineUserCanPurchase(event)">
                                    <p>You have purchased <b>{{getPurchasedTickets(event)}}</b> tickets for this event</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>