<div>
    <div class="col-md-10 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div align="center">
                    <h4>{{event.title}}</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div align="center" class="col-lg-12">
                        {{event.description}}
                    </div>
                    <div align="center" class="col-lg-12">
                        When: <u>{{event.startDate | date}} to {{event.endDate | date}}</u>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div ng-if="ticket.purchasedTickets === 0">
                        <b>Note: You have not purchased any tickets for this event.</b>
                    </div>
                    <div>
                        <div class="col-lg-12">
                            <table class="table table-bordered table-condensed table-striped">
                                <tr>
                                    <td>Tickets Purchased</td>
                                    <td>Tickets Paid On</td>
                                    <td>Tickets Owner</td>
                                </tr>
                                <tr>
                                    <td>{{ticket.purchasedTickets}}</td>
                                    <td>{{ticket.purchasedDate | date}}</td>
                                    <td>
                                        <p ng-if="ticket.ticketOwner.length > 0">{{ticket.ticketOwner}}</p>
                                        <p ng-if="ticket.ticketOwner.length === 0">N/A</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a href="/events">Return to event listing</a>
                </div>
            </div>
        </div>
    </div>
</div>