<br>
<div class="row">
    <div class="col-lg-5 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Metropolis Event Login</h4>
                <form novalidate name="loginAccountForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="email" placeholder="Email Address" ng-model="username" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <input class="form-control" type="password" minlength="5" maxlength="32" placeholder="Password" ng-model="password" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" ng-disabled="loginAccountForm.$invalid" class="btn btn-primary" ng-click="login()">Click Login</button>
                        </div>
                    </div>
                </form>
                <br>
                <a href="/create">Click here to create an Account</a>
            </div>
        </div>
    </div>
</div>