<!DOCTYPE html>
<html lang="en" ng-app="EventsApp" ng-controller="RunController">
<meta charset="UTF-8">

<base href="/">
<head>
    <link rel="stylesheet" href="/static/angular/public/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/angular/public/lib/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="/static/angular/public/lib/css/custom/events.css"/>

    <script src="/static/angular/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/angular/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src='/static/angular/public/lib/angular/angular.min.js'></script>
    <script src='/static/angular/public/lib/angular-route/angular-route.min.js'></script>
    <script src='/static/angular/public/lib/angular-resource/angular-resource.min.js'></script>
    <script src="/static/angular/public/lib/angular-messages/angular-messages.min.js"></script>
    <script src="/static/angular/public/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/static/angular/public/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/static/angular/public/src/EventsApp.js"></script>

    <script src='/static/angular/public/src/controller/RunController.js'></script>
    <script src='/static/angular/public/src/controller/EventController.js'></script>
    <script src='/static/angular/public/src/controller/LoginController.js'></script>
    <script src='/static/angular/public/src/controller/CreateController.js'></script>
    <script src='/static/angular/public/src/controller/EditController.js'></script>
    <script src='/static/angular/public/src/controller/InfoController.js'></script>
    <script src='/static/angular/public/src/controller/PurchaseController.js'></script>
    <script src='/static/angular/public/src/controller/LogoutController.js'></script>
    <script src='/static/angular/public/src/controller/CacheController.js'></script>

    <script src='/static/angular/public/src/service/AuthService.js'></script>
    <script src='/static/angular/public/src/service/EventService.js'></script>
    <script src='/static/angular/public/src/service/EditService.js'></script>
    <script src='/static/angular/public/src/service/PurchaseInfoService.js'></script>
    <script src='/static/angular/public/src/service/PurchaseService.js'></script>
    <script src='/static/angular/public/src/service/CacheService.js'></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/about">About Events</a>
        </div>
        <ul class="nav navbar-nav navbar-left" ng-if="!authenticated">
            <li><a href="/login">Login</a></li>
            <li><a href="/create">Create Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left" ng-if="authenticated">
            <li><a href="/logout">Logout</a></li>
            <li><a>Welcome {{userDetails.username}}</a> </li>
            <li><a href="/events">Available Events</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="authenticated">
            <li ng-if="isAdmin"><a href="/edit">Add a new Event</a></li>
            <li ng-if="isAdmin"><a href="/cache">Clear system cache</a></li>
        </ul>
    </div>
</nav>
<div align="center" class="container">
    <div ng-view>
    </div>
</div>
</body>
</html>