<div>
    <div class="col-md-10 col-lg-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div align="left">
                    <h4>{{event.title}}</h4>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <b>Purchase Tickets</b>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                <td>Number of Tickets</td>
                                <td>Assigned to</td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-control" ng-model="ticketsForPurchase">
                                        <option  ng-repeat="ticketForPurchase in availableTicketsForPurchase" value="{{ticketForPurchase}}">{{ticketForPurchase}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="email" ng-value="userDetails.username" ng-model="userDetails.username">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <p>Complete your purchase by entering your credit card information</p>
                    </div>
                    <div class="row">
                        <input class="form-control" ng-model="creditCardData.cardOwner" placeholder="Card Holders Full Name">
                    </div>
                    <br>
                    <div class="row">
                        <input class="form-control" ng-model="creditCardData.cardNumber" placeholder="Credit Card Number" >
                    </div>
                    <br>
                    <div class="row">
                        <input class="form-control" ng-model="creditCardData.cardCVSNumber" placeholder="CVS Number (located on the back of the card">
                    </div>
                    <br>
                    <div class="row">
                        <p>Expiration Date (Year/Month)</p>
                    </div>
                    <div class="row">
                        <div class="well">
                        <div class="row">
                            <div class="col-lg-6">
                                <select  class="form-control">
                                    <option ng-model="creditCardData.cardExpireMonth" ng-repeat="month in months" value="month">{{month}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <select class="form-control" >
                                    <option ng-model="creditCardData.cardExpireYear" ng-repeat="year in years" value="year">{{year}}</option>
                                </select>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" type="submit" ng-disabled="!validatePurchaseInformation()" ng-click="completePurchase()">Purchase</button>
                    </div>
                    <br>
                    <div class="row" ng-if="purchaseComplete">
                        <div class="well">
                            <p ng-if="ticketSaved" class="event-successfully-purchased"><b>Your tickets have been purchased for the event - please click <a href="/events">here</a> to return to the event listing</b></p>
                            <p ng-if="!ticketSaved" class="event-unsuccessfully-purchased"><b>There was an error purchasing your tickets - please click <a href="/events">here</a> to return to the event listing</b></p>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <b ng-if="ticket.purchasedTickets > 0">Currently purchased tickets for this event</b>
                        <b ng-if="ticket.purchasedTickets === 0">No tickets have been purchased for this event</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-condensed table-striped">
                            <tr>
                                <td>Currently purchased tickets</td>
                                <td>Payment completed</td>
                                <td>Assigned to</td>
                            </tr>
                            <tr>
                                <td>{{ticket.purchasedTickets}}</td>
                                <td>
                                    <div ng-if="ticket.paid === true">Yes</div>
                                    <div ng-if="ticket.paid === false">No</div>
                                </td>
                                <td>{{ticket.ticketOwner}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>